.loginDiv{
    margin-top: 20vh;
    width: 40vw;
}

.heading{
    margin-bottom: 20px;
    font-size: 28px;
}

.button {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 4px;
    background-color: #1390d8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 12px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover{
    box-shadow: 10px 20px 36px #9b9b9b;
}